In [1]:
x = [1, 2, 3, 4] 
y = filter(lambda a: a % 2 == 0, x) 
print(list(y))

[2, 4]

In [5]:
list1 = ['a', 'b', 'g', 1, 5] 
print(list1.pop)  #cause pop is a function should be end with()

<built-in method pop of list object at 0x0000028E33B6D700>

In [7]:
print(int(3.9))

3

In [9]:
a = 'Python' + ".py" 
print(a)

Python.py

In [13]:
print(str(True), end=" ") # This will print "True" followed by a space.
int("4.5")  # This will raise a ValueError because "4.5" is not a valid integer string. True value syntax error

True

ValueError: invalid literal for int() with base 10: '4.5'

In [17]:
name = 'Hello, world!'
print(name[1:5])

ello

In [19]:
set1 = {1, 5, 6, 4, 3} 
print(set1)

{1, 3, 4, 5, 6}

In [21]:
print(type(0xFF))

<class 'int'>

In [23]:
aTuple = (1, 'Jhon', 1+3j) 
print(type(aTuple[2:3]))

<class 'tuple'>

In [25]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

False True True True

In [32]:
x = 10   
y = "20"   
print(x + int(y))

30

In [34]:
x = {"apple", "banana", "cherry"}   
print(type(x))

<class 'set'>

In [36]:
x = {"name": "John", "age": 30}   
print(type(x))

<class 'dict'>

In [38]:
x = [1, 2, 3]   
print(type(x))

<class 'list'>

In [42]:
x = 10   
y = "20"   
print(str(x) + y)

1020

In [44]:
x = [1, 2, 3]   
y = x.copy()   
x.append(4)  
print(y)

[1, 2, 3]

In [46]:
x = {"a", "b", "c"}   
y = {"b", "c", "d"}   
z = x & y   
print(z)

{'c', 'b'}

In [48]:
x = 10   
y = 20   
x, y = y, x   
print(x, y)

20 10

In [50]:
x = {"a": 1, "b": 2}   
y = {"b": 3, "c": 4}   
z = {**x, **y}   
print(z)

{'a': 1, 'b': 3, 'c': 4}

In [52]:
x = {1, 2, 3}   
x.clear()   
print(x)

set()

In [54]:
x = "hello"   
y = x.upper()   
print(y)

HELLO

In [58]:
x = "hello"   
y = x.replace("l", "L", 1)  
print(y)

heLlo

In [60]:
x = (1, 2, [3, 4])   
x[2][0] = 5   
print(x)

(1, 2, [5, 4])

In [62]:
x = {"name": "John", "age": 30}   
print(x["address"])

KeyError: 'address'

In [64]:
x = [1, 2, 3]   
y = x[:]   
x[0] = 4   
print(y)

[1, 2, 3]

In [2]:
x = {"name":"john","age":30}
y = x.copy()
x["name"] = "jane"
print(y["name"])

john

In [4]:
x = {"apple", "banana", "cherry"}   
y = x.pop()   
print(y)

cherry

In [6]:
x = [1, 2, 3]   
x.insert(1, 4)  
print(x)

[1, 4, 2, 3]

In [8]:
x = {"a", "b", "c"}   
y = x - {"b"}   
print(y)

{'c', 'a'}

In [10]:
x = {1,2,3}
y = x.add(4)  
print(x)

{1, 2, 3, 4}

In [12]:
age = 25
print(age)

25

In [16]:
number = 20
print(20 - 1)

19

In [18]:
firstname = 'code'
surename = 'chef'
print('code','chef')

code chef

In [20]:
a = 23
b = 20
sum = a + b
print(sum)

43

In [24]:
length = 45
breath = 76
Area_of_rectangle = length * breath
print(Area_of_rectangle)

3420

In [26]:
radius = 8.9
pi = 3.14
Area_of_circle = pi * radius * radius
print(Area_of_circle)

248.71940000000004

In [30]:
a = 'Learning'
b = 'is fun!'
print(a ,b)

Learning is fun!