# Tuple creation

In [84]:
tup1 = ()

In [86]:
tup2 = (10,30,60)

In [88]:
tup3 =(10.77,30.66,60.89)

In [90]:
tup4 = ('one','two',"three")

In [92]:
tup5 = ('Asif',25,(50,100),(150,90)) #nested tuples

In [94]:
tup6 = (100,'Asif',17.765)

In [96]:
tup7 = ('Asif',25,[50,100],[150,90],{'john','David'},(99,22,33))

In [98]:
len(tup7)

6

# Tuple Indexing

In [101]:
tup2[0] #retrive first element of tuple

10

In [103]:
tup4[0]

'one'

In [105]:
tup4[0][0]

'o'

In [107]:
tup4[-1]

'three'

In [109]:
tup5[-1]

(150, 90)

# Tuple Slicing

In [112]:
mytuple  = ('one','two','three','four','five','six','seven','eight')

In [114]:
mytuple[0:3] # Return all items from 0th to 3rd index location excluding item

('one', 'two', 'three')

In [116]:
mytuple[2:5]

('three', 'four', 'five')

In [118]:
mytuple[:3] #return first three items

('one', 'two', 'three')

In [120]:
mytuple[:2] #return first two items

('one', 'two')

In [122]:
mytuple[-3:] #return last three items

('six', 'seven', 'eight')

In [124]:
mytuple[-2:] #return last two items

('seven', 'eight')

In [126]:
mytuple[-1] #return last item of tuple

'eight'

In [128]:
mytuple[:] # return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & chnge items

In [131]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [133]:
del mytuple[0] # Tuples are immutable which means we canonot delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [135]:
mytuple[0] = 1 # Tuples are immutable which means we canont change tuple items

TypeError: 'tuple' object does not support item assignment

In [ ]:
del mytuple #Deleting entire tuple object is possible

# loop through a tuple

In [139]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [141]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [143]:
for i in enumerate (mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Tuple Membership

In [147]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [149]:
'one' in mytuple #check if 'one' exist list

True

In [151]:
'ten' in mytuple

False

In [153]:
if 'three' in mytuple:
    print("eleven is  present in tuple")
else:
    print("eleven is not present")

eleven is  present in tuple

# index position

In [156]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [158]:
mytuple.index('one')

0

In [160]:
mytuple.index('five')

4

In [164]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [170]:
mytuple1 = ('one','two','three','four','one','one','two','three')

In [172]:
mytuple1.index('one')

0

# Sorting

In [174]:
mytuple2 = (43,67,99,12,6,90,67)

In [177]:
sorted(mytuple2)#return a new sorted list and doesnot change origional tuple

[6, 12, 43, 67, 67, 90, 99]

In [179]:
sorted(mytuple, reverse=True) #Sort in descending order

['two', 'two', 'three', 'three', 'one', 'one', 'one', 'four']